[Desktop Entry]
Version=1.0
Type=Application
Name=APK Editor Studio (2a99edd)
Comment=Edit APK resources
GenericName=APK editor
Exec=/home/coldfire/Applications/apk-editor-studio_linux_1.7.0.AppImage %F
Icon=appimagekit_bb221f5af35630711833409f39ceb4f9_apk-editor-studio
Categories=Utility;Qt;
Terminal=false
MimeType=application/vnd.android.package-archive;
X-AppImage-Version=2a99edd

TryExec=/home/coldfire/Applications/apk-editor-studio_linux_1.7.0.AppImage
X-AppImage-Old-Icon=apk-editor-studio
X-AppImage-Old-Name=APK Editor Studio
X-AppImage-Identifier=bb221f5af35630711833409f39ceb4f9
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2020-09-29 21:36:15 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/x86_64-linux-gnu/appimagelauncher/remove "/home/coldfire/Applications/apk-editor-studio_linux_1.7.0.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
