[Desktop Entry]
Version=1.0
Name=Keep
Comment=Web Uygulaması
Exec=google-chrome-stable --app="https://keep.google.com" --class=WebApp-web9070 --user-data-dir=/home/coldfire/.local/share/ice/profiles/web9070
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=keep
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-web9070
StartupNotify=true
X-WebApp-Browser=Chrome
X-WebApp-URL=https://keep.google.com
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

